.titlescreen {
    position: fixed;        /* stays on top even when scrolling */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;          /* higher than everything else */
    color: white;
    flex-direction: column;
}